{% extends 'base.html.twig' %}

{% block title %}Edit Articles{% endblock %}

{% block content %}
    {% include 'nav.html.twig' %}
    <h1>Edit Articles</h1>

    {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('articles_index') }}">back to list</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
