<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:media="http://search.yahoo.com/mrss/">
    <channel>
        <title>{{ rss_feed_title }}</title>
        <link>{{ rss_feed_url}}</link>
        <description>{{ rss_feed_description }}</description>
        <language>{{ rss_feed_lang }}</language>
        <copyright>{{ rss_feed_copyright }}</copyright>
        {% for article in articles %}
            <item>
                {% if article.title is not defined and article.title is not null %}
                    <title/>
                {% else %}
                    <title>{{ article.title }}</title>
                {% endif %}

                {% if article.description is not defined and article.description is not null %}
                    <description/>
                {% else %}
                    <description>{{ article.description }}</description>
                {% endif %}

                {% if article.link is not defined and article.link is not null %}
                    <link/>
                {% else %}
                    <link>{{ article.link }}</link>
                {% endif %}

                <pubDate>{{ article.pubdate ? article.pubdate|date('r') : '' }}</pubDate>

                {% if article.guid is not defined and article.guid is not null %}
                    <guid/>
                {% else %}
                    <guid>{{ article.guid }}</guid>
                {% endif %}

                {% if article.source is not defined and article.source is not null %}
                    <source/>
                {% else %}
                    <source url="{{ article.source }}">{{ article.creator }}</source>
                {% endif %}

                {% if article.category is not defined and article.category is not null %}
                    <category/>
                {% else %}
                    <category>{{ article.category }}</category>
                {% endif %}

                {% if article.keywords is not defined and article.keywords is not null %}
                    <media:keywords/>
                {% else %}
                    {% set keywordString = "" %}
                    {% for keyword in article.keywords %}
                        {% if not loop.last %}
                            {% set keywordString = keywordString ~ keyword ~ "," %}
                        {% else %}
                            {% set keywordString = keywordString ~ keyword %}
                        {% endif %}
                    {% endfor %}
                    <media:keywords>{{ keywordString }}</media:keywords>
                {% endif %}


                {% if article.creator is not defined and article.creator is not null %}
                    <dc:creator/>
                {% else %}
                    <dc:creator>{{ article.creator }}</dc:creator>
                {% endif %}

                {% if article.modified is not defined and article.modified is not null %}
                    <dc:modified/>
                {% else %}
                    <dc:modified>{{ article.modified ? article.modified|date('Y-m-d H:i:s') : '' }}</dc:modified>
                {% endif %}


                {% if article.thumbnailUrl is defined %}
                    <media:thumbnail url="{{ article.thumbnailUrl }}"/>
                {% endif %}

            </item>
        {% else %}

        {% endfor %}
    </channel>
</rss>