{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block content %}
    {% include 'nav.html.twig' %}
    <h1>Create new Articles</h1>

    {{ include('articles/_form.html.twig') }}

    <a class="tab" href="{{ path('articles_index') }}">Back to list</a>
{% endblock %}
